#caja1 {
  float:left;
  width:250px;
  background-color:rgb(53, 225, 255);
  margin:10px;
}

#caja2 {
  float:left;
  width:250px;
  background-color:rgb(53, 225, 255);
  margin:10px;
}

#caja3 {
  float:left;
  width:250px;
  background-color:rgb(53, 225, 255);
  margin:10px;
}

#caja4 {
  float:left;
  width:250px;
  background-color:rgb(53, 225, 255);
  margin:10px;
}