#caja1,#caja3 {
  background-color:rgb(252, 36, 36);
  font-family:verdana;
  font-size:1.3rem;
}
#caja2 {
  background-color:#ff0;
  font-size:1.3rem;
  position:absolute;
  left:40px;
  top:30px;
}